.mobile-menu {
    position: fixed;
    inset: 0;
    background: #fff;
    display: none;
    overflow: hidden;
    z-index: 1000;
}
@media only screen and (min-width: 768px) {
    .mobile-menu {
        display: none !important;
    }
}


.mobile-menu-close {
    position: absolute;
    top: 0;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
    z-index: 50;
}

.overlay-inner {
    display: flex;
    position: relative;
    width: 200vw;
    height: 100%;
    transform: translateX(0);
    transition: transform .3s ease;
}

    .overlay-inner > ul {
        list-style: none;
        padding: 4rem 1rem;
        overflow-y: auto;
    }

        .overlay-inner a:hover,
        .overlay-inner button:hover {
            text-decoration: underline
        }

        .menu-panel {
            width: 100vw;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

.submenu-panel{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    z-index: 10;
}

.submenu-panel .back a {
    font-weight: bold;
    margin-bottom: 1rem;
    display: inline-block;
}

.submenu-panel-inactive {
    display: none;
    z-index: 2;
}
