@model UserViewModel

@{
    ViewData["Title"] = "User info";
}

<section class="container">
    <h1>@ViewData["Title"]</h1>

    <div>
        <p>User: @Model.Name</p>
        <p>Email: @Model.Email</p>
    </div>
</section>