@model AuthProcess
@{
	Layout = "_LayoutEmpty";

	var LoginViewData = new ViewDataDictionary<LoginViewModel>(ViewData)
			{
				TemplateInfo = { HtmlFieldPrefix = "login" }
			};

	var registerViewData = new ViewDataDictionary<RegisterViewModel>(ViewData)
			{
				TemplateInfo = { HtmlFieldPrefix = "register" }
			};
}

<link rel="stylesheet" href="~/css/loginPage.css" asp-append-version="true" />

<div id="block-container" class="block-container @(Model?.LoginViewModel is null ? "right-panel-active" : "")">
	<div class="form-container sign-up-container">
		<partial name="_RegisterPartialView" model="Model?.RegisterViewModel" view-data="registerViewData" />
	</div>
	<div class="form-container sign-in-container">
		<partial name="_LoginPartialView" model="Model?.LoginViewModel" view-data="LoginViewData" />
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-panel-left">
				<div class="flex h-full w-full flex-col items-center justify-evenly gap-5 py-12 md:gap-20">
					<h1 class="text-2xl font-bold text-white">Create Account</h1>
					
					<p class="text-lg font-medium text-white">Enter your personal details and start your journey with us</p>
					<button type="button" class="mt-12 w-52 rounded-full border border-white px-5 py-3 text-center text-base font-medium text-white hover:border-primary-100 hover:text-primary-100 focus:ring-4 focus:outline-none focus:ring-primary-300" id="signInButton">Sign In</button>
				</div>
			</div>
			<div class="overlay-panel overlay-panel-right">
				<div class="flex h-full w-full flex-col items-center justify-evenly gap-5 py-12 md:gap-20">
					<h1 class="text-2xl font-bold text-white">Welcome Back!</h1>
					<p class="text-lg font-medium text-white">To keep connected with us please login with your personal info</p>
					<button type="button" class="mt-12 w-52 rounded-full border border-white px-5 py-3 text-center text-base font-medium text-white hover:border-primary-100 hover:text-primary-100 focus:ring-4 focus:outline-none focus:ring-primary-300" id="signUpButton">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
</div>



@section Scripts {
	<script>
		(() => {
			const signUpButton = document.getElementById("signUpButton");
			const signInButton = document.getElementById("signInButton");
			const container = document.getElementById("block-container");

			signUpButton.addEventListener("click", () => {
				container.classList.add("right-panel-active");
			});
			signInButton.addEventListener("click", () => {
				container.classList.remove("right-panel-active");
			});
		})();
	</script>
}